<div class="container">
  <div class="row">
    <div class=“col-xs-12 col-sm-10 col-sm-offset-1”>
    <h1>Create a New dose for...</h1>
    <%= simple_form_for [ @cocktail, @dose] do |f| %>

      <%= f.input :description %>
      <%=f.association :ingredient%>

    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to "Go Back", cocktails_path, class: "btn btn-primary"%>
    <% end %>
    </div>
  </div>
</div>
